@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Slabo+27px&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Tinos", serif;
    font-size: 40px !important;
}

.color-b {
    color: #f50398f6;
}

.color-p {
    color: #bd069ef6;
    font-weight: 700;
}

.text-withe {
    color: #ffffff;
}

h2 {
    font-family: "Tinos", serif;
}

p {
    font-family: "Merriweather", serif;
}

h4,
h5,
h6 {
    font-family: "Slabo 27px", serif;
}

.btn1 {
    background: linear-gradient(to right, #1003c5ce, #e60bdbde);
    color: #fff !important;
    border-radius: 50px !important;
    border: 0px !important;
}

.btn2 {
    background: linear-gradient(to right, #1003c5ce, #e60bdbde);
    color: #ffffff !important;
    border-radius: 50px !important;
    border: 0px !important;
    width: 200px !important;
    margin: 0px 110px;
}

.btn3 {
    background: #97045a !important;
    color: #ffffff !important;
    width: 150px;
}

.btn4 {
    background: #97048b !important;
    color: #ffffff !important;
    width: 150px;
}

.btn5 {
    background: #830478d7 !important;
    color: #ffffff !important;
}

.navbar .nav-link {
    font-family: "Tinos", serif;
    font-size: 20px;
    color: #00040a;
}

.navbar .nav-link.active {
    color: #070497 !important;
}

.navbar .nav-link:hover {
    color: #070497;
}

.navbar {
    position: fixed !important;
    width: 100%;
    top: 0px;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.logo {
    width: 50px;
}

.logo-brand {
    font-size: 20px !important;
    margin-bottom: 20px !important;
    list-style: none;
    text-decoration: none !important;
}

.navbar-brand span {
    font-weight: bolder !important;
    color: #6a048ab2;
}

.row {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.home-bg-color {
    background: linear-gradient(to right, #020135, #4d084d, #b803afb2);
}

.bg-color1 {
    background: linear-gradient(to right, #020135, #4d084d, #b803afb2);
    color: #ffffff;
    border-radius: 50px;
}

.bg-color2 {
    background: linear-gradient(to top, #020135, #4d084d, #fdfbfdee);
    color: #ffffff;
    padding: 20px;
}

form {
    background: #53535ca8;
    padding: 30px;
    border-radius: 10px;
}

.input-group {
    padding-bottom: 20px;
}

.input-group-text {
    color: #c90577 !important;
}

.home-card-color {
    background: linear-gradient(to right, #05c9d3, #01676eb2);
}

.bodr-end {
    border-right: 1px solid white !important;
    margin-bottom: 15px;
}

.imgage {
    width: 90%;
    height: 90%;
    margin: 0px 10% !important;

}

.roadmap {
    width: 100%;
    height: 100%;
}

.roadmap2 {
    display: none;
}

.demo-btn {
    display: flex;
    justify-content: end !important;
    align-content: end !important;
    align-items: end !important;
}

.bg-colors {
    background: #72737428;
}

tr {
    margin-bottom: 20px !important;
}

td {
    padding: 10px;
}

.bi-check-circle-fill {
    color: #05b82b;
    margin-right: 65px;
}

.bi-x {
    color: #d60303;
    margin-right: 35px;
}

.icon-img {
    width: 35px !important;
    margin-left: 20px;
}

.card {
    border: 0px !important;
    height: 100%;
}

.card:hover {
    transform: translatey(-10px);
    transition: all 1s;
}

.card p {
    color: #8f9091;
}

.card img {
    width: 100%;
    height: 150px;
}

.banner {
    width: 100%;
    height: 150px;
}

h6 {
    font-size: 18px;
}

.userimg {
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto;
}

.placement .card:hover {
    background: #44034d8f;
    color: #ffffff;
}

.card-wrapper {
    display: flex;
}

.card-wrapper .card {
    margin: 0 .5em;
    width: calc(100%/3);
}

.card-wrapper {
    /* height: 50vh; */
    margin: 0 auto;
}

.card-wrapper img {
    max-width: 50px;
    max-height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
    background: #8a88fd !important;
    width: 6vh !important;
    height: 6vh !important;
    border-radius: 50% !important;
    top: 50% !important;
}

.carousel-control-prev span,
.carousel-control-next span {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.star-icon {
    color: #fdc303;
    margin-bottom: 10px;
}

.bi-stars {
    color: #fdc303;
}

.bi-shield-fill-check {
    color: #ad04adf8;
}
/* contact */
#carouselExample {
    background: linear-gradient(to right, #05c9d39a, #b401b47c);
    box-shadow: 0 4px 8px 0 rgba(231, 53, 255, 0.582), 0 6px 20px 0 rgba(71, 39, 252, 0.61);
    border-radius: 10px;
}
.contact-icon{
   background-color: #4d084d;
   color: #ffffff;
   width: 50px;
   font-size: 25px;
   margin: 0px auto;
   border-radius: 90px;
   padding: 5px;
}
.contact .card{
    width: 100%;
    height: 100%;
}
.contact form{
    background: none;
}
.contact iframe{
    width: 100%;
    height: 400px;
}
.bi-facebook{
    color: #4a65ff;
}
.bi-youtube{
    color: #f0071a;
}
.bi-instagram{
    color: #fc048c;
}
.bi-linkedin{
    color: #5c74fcc4;
}
footer .style_icons img{
    width: 50px !important;
}
footer .style_icons img:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
}

.animated{
    width: 155px !important;
    height: 350px !important;
    position: relative;
    top: -80px;
    z-index: 99;
}


@media (max-width:768px) {
    .animated{
        display: none;
    }
    .imgage {
        width: 70% !important;
        height: 70% !important;
        margin: 0px 100px !important;
    }

}

@media (max-width:600px) {
    .btn2 {
        margin: 0px 30px;
    }

    .bodr-end {
        border-left: 0px !important;
        border-bottom: 1px solid #fff;
    }

    .home-card-color .row {
        flex-direction: row !important;
    }

    .imgage {
        width: 100% !important;
        height: 100% !important;
        margin: 0px 0px !important;
    }

    .roadmap {
        display: none;
    }

    .roadmap2 {
        width: 100%;
        height: 100%;
        display: block;
    }

    .card:not(:first-child) {
        display: none;
    }

    .card-wrapper .card {
        margin: 0 .5em;
        width: calc(100%/1);
    }

}
